* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6e6e6;
    line-height: 2rem;
}

header, footer{
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

nav{
    background-color: #444;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    padding: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.active{
    color: #597dff;
}

main{
    min-height: 70vh;
    width: 100%;
    padding: 2rem;
    background-color: #e6e6e6;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #555;
    padding: 2rem;
    border-radius: 1rem;
}

form div{
    color: #555;
    background-color: #fff;
    padding: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
}

form label{
    margin-right: .5rem;
}

form input{
    height: 2rem;
    width: 14rem;
    border: none;
}

.bigger{
    height: 10rem;
    flex-direction: column;
    align-items: flex-start;
}

input[type="submit"]{
    justify-self: center;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

input[type="submit"]{
    align-self: center;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #597dff;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #597dff;
    background-color: #fff;
}