* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e6e6e6;
    line-height: 2rem;
}

header, footer{
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

nav{
    background-color: #444;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-flex;
    padding: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.active{
    color: #597dff;
}

main{
    padding: 2rem;
    background-color: #e6e6e6;
    line-height: 2rem;
    width: 80%;
    margin: auto;
}

section{
    padding: 1rem .5rem;
    margin: 1rem 0;
}

table{
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
}

table thead{
    height: 2rem;
    padding: 2rem;
    background-color: #c7c7c7;
}

table tbody{
    padding: 2rem;
}

table td{
    height: 4rem;
}

table td, th{
    border: 1px solid #000;
    padding: 0 1rem;
}

.blue{
    background-color: rgb(0, 0, 255);
}

@media (max-width: 1200px){
    table{
        transform: scale(.9);
    }
}